

.AppButton {
    border-radius: .5rem;
    border: none;

    background: #fff;
    padding: 0 1rem;

    font-size: 1rem;
}


.AppButton:disabled {
    background: lightgrey;
    color: #aaa !important;
}

.AppButton .Loader {
    display: inline-block;

    position: relative;
    top: .125rem;
    margin-left: .25rem;
}
